WEBDATABASE_URL=
LABDATABASE_URL=
API_LOGIN_URL=
API_LOGIN_USERNAME=webtest
API_LOGIN_PASSWORD=chenlab
API_LOGIN_USERNAME_FIELD=username
API_LOGIN_PASSWORD_FIELD=password
API_LOGIN_NEXT=
TUROERIAL_ADDRESS=
ZIP_ADDRESS=
SECRET_KEY=
